<ion-view title="Inscription" id="loginContener">
  <ion-content class="has-header padding">

    <div class="row">
      <div class="col col-5"></div>
      <div class="col col-90">

        <h1 class="greenGame">Recuperer votre mot de passe</h1>

        <br>
        <br>
        <br>

        <form ng-submit="forgot(user.email)">
          <span class="input-label loginLabel">Email :</span>
          <label class="item item-input">
            <input  type="email" placeholder="Entrez votre Email..." ng-model="user.email">
          </label>
          <br>
          <br>
          <button type="submit" class="button button-full button-dark">
            Réinitialiser
          </button>
          <button class="button button-full button-dark" ng-click="goToState('auth.login')">
            Annuler
          </button>
        </form>

      </div>
      <div class="col col-5"></div>  
    </div>

  </ion-content>
</ion-view>