<ion-view title="Authentification" id="loginContener">
  <ion-content class="has-header padding" >

    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80">

        <div ng-repeat="message in messagesInfo">
            <p class="messagesInfo {{message.status}}">
              <b>
                {{message.title}}
              </b>
              {{message.content}}
            </p>
        </div>

        <img src="../../images/iconemobile.svg" style="width:100%;">

        <h1 class="greenGame">Connexion</h1>

        <form ng-submit="authenticate(user)">

          <span class="input-label loginLabel">Login/Email :</span>
          <label class="item item-input">
            <input class="pull-right" type="text" placeholder="login ou email..." ng-model="user.login">
          </label>
          <span class="input-label loginLabel">Password :</span>
          <label class="item item-input">
            <input  type="password" placeholder="password...." ng-model="user.password">
          </label>

          <br>

          <button type="submit" class="button button-full button-dark icon-right ion-ios7-arrow-forward">
            Connexion
          </button>

          <button class="button button-full button-dark" ng-click="goToState('register')">
            Inscription
          </button>

          <a class="link loginLink" ng-click="goToState('forgot')">Mot de passe oublié ?</a>
        </form>
      </div>
      <div class="col col-10"></div>  
    </div>
  </ion-content>
</ion-view>
