<form ng-submit="login()">
	<div class="list">
	  <label class="item item-input">
	   	<i class="icon ion-search placeholder-icon"></i>
	    <span class="input-label">Login</span>
	    <input ng-model="formData.login" type="text">
	  </label>
	  <label class="item item-input">
	   	<i class="icon ion-search placeholder-icon"></i>
	    <span class="input-label">Mot de passe</span>
	    <input ng-model="formData.password"  type="password">
	  </label>
	  <button type="submit" class="button button-dark">
		  Envoyer
		</button>
	</div>
</form>