<ion-view title="Inscription">
  <ion-content class="has-header padding">

    <div class="row">
      <div class="col col-5"></div>
      <div class="col col-90">

        <h1>Inscription</h1>

        <br>
        <br>
        <br>

        <label class="item item-input item-floating-label">
          <input type="text" placeholder="Login">
        </label>
        <br>
        <label class="item item-input item-floating-label">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
          <input type="email" placeholder="Repetez Email">
        </label>
        <br>
        <label class="item item-input item-floating-label">
          <input type="password" placeholder="Password">
        </label>
        <label class="item item-input item-floating-label">
          <input type="password" placeholder="Repetez password">
        </label>

        <br>
        <br>

        <button class="button button-full button-dark" ng-click="goToState('login')">
          Inscription
        </button>
        <button class="button button-full button-dark" ng-click="goToState('login')">
          Annuler
        </button>

      </div>
      <div class="col col-5"></div>  
    </div>

  </ion-content>
</ion-view>