<ion-view title="Inscription" id="loginContener">
  <ion-content class="has-header padding">

    <div class="row">
      <div class="col col-5"></div>
      <div class="col col-90">

        <h1 class="greenGame">Inscription</h1>

        <br>
        <br>
        <br>

        <form ng-submit="register(user)">

          <span class="input-label loginLabel">Login :</span>
          <label class="item item-input">
            <input  type="text" placeholder="Entrez votre Login..." ng-model="user.login" style="color:white;">
          </label>

          <span class="input-label loginLabel">Email :</span>
          <label class="item item-input">
            <input  type="email" placeholder="Entrez votre Email..." ng-model="user.email" style="color:white;">
          </label>

          <span class="input-label loginLabel">Mot de passe :</span>
          <label class="item item-input">
            <input  type="password" placeholder="Entrez votre Mot de passe..." ng-model="user.password" style="color:white;">
          </label>

          <span class="input-label loginLabel">Repetez mot de passe :</span>
          <label class="item item-input">
            <input  type="password" placeholder="Repetez votre Mot de passe..." ng-model="user.passwordVerif" style="color:white;">
          </label>

          <br>
          <br>

          <button type="submit" class="button button-full button-dark icon-right ion-ios7-arrow-forward">
            Inscription
          </button>
          <button class="button button-full button-dark" ng-click="goToState('auth.login')">
            Annuler
          </button>

        </form>

      </div>
      <div class="col col-5"></div>  
    </div>

  </ion-content>
</ion-view>