// Your application styles go here
@font-face {
    font-family: 'digital';
    src: url(../fonts/DigitalFirebomb.ttf);
}

/**************************/
/****** Utilitaires *******/
/**************************/

.greenGame{
	color:#A0D12C;
}

.blueGame{
	
}

.purpleGame{
	
}

/**************************/
/******** Balises *********/
/**************************/

h1{
	font-family: 'digital';
	font-size: 2em;
	text-align:center;
}


/**************************/
/******** ALERTES *********/
/**************************/

.messagesInfo{

	padding:5px;
	text-align: center;
	color:white;

	&.alert-succes{
		background-color:#5ACF44;
	}

	&.alert-error{
		background-color:#EF2B2B;
	}
}

/**************************/
/**** AUTHENTIFICATION ****/
/**************************/


#loginContener{
	background-color: #203153;
}

.loginLabel{
	color:white;
	font-weight: bold;
	width:100%;
	display:block;
	margin-top:20px;
}

.loginLink{
	color:white;
	text-decoration: underline;
}