// Your application styles go here
@font-face {
    font-family: 'digital';
    src: url(../fonts/DigitalFirebomb.ttf);
}

/**************************/
/****** Utilitaires *******/
/**************************/

.greenGame{
	color:#A0D12C;
}

.blueGame{
	
}

.purpleGame{
	
}

/**************************/
/******** Balises *********/
/**************************/

h1{
	font-family: 'digital';
	font-size: 2em;
	text-align:center;
}


/**************************/
/******** ALERTES *********/
/**************************/

.messagesInfo{

	padding:5px;
	text-align: center;
	color:white;

	&.alert-succes{
		background-color:#5ACF44;
	}

	&.alert-error{
		background-color:#EF2B2B;
	}
}

/**************************/
/******** AUTH ************/
/**************************/


#loginContener{
	background-color: #203153;
}

.loginLabel{
	color:white;
	font-weight: bold;
	width:100%;
	display:block;
	margin-top:20px;
}

.loginLink{
	color:white;
	text-decoration: underline;
}

/**************************/
/********** MENU **********/
/**************************/

#menu{
	background-color:#2E2E2E;
}

.listItemMenu{
	font-family:digital;
	font-size:12px;
	margin:0 auto;
	text-align:center;
	padding: 0;
	padding-top:15px;
	padding-bottom:15px;
	border: 1px solid #ffffff;
	color:white;
	background-color:#4A4A4A;
}

/**************************/
/********** MAP **********/
/**************************/

map {
  width: 100%;
  height: 100% !important;
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
  z-index:100;

  -moz-box-shadow: inset 0px 0px 100px 0px #000000;
-webkit-box-shadow: inset 0px 0px 100px 0px #000000;
-o-box-shadow: inset 0px 0px 100px 0px #000000;
box-shadow: inset 0px 0px 100px 0px #000000;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=100);
}

.scroll, .mapWrap {
  height: 100%;
}

.tabs-striped.tabs-color-assertive .tab-item {
color: #919D80;
opacity: 1;
}

tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated{
color: #A4FF49;
opacity: 1;
border-top: 2px solid #A4FF49;
}

tab-item:active{
color: #A4FF49;
opacity: 1;
border-top: 2px solid #A4FF49;
}

.itemActivated{
color: #A4FF49 !important;
opacity: 1 !important;
border-top: 2px solid #A4FF49 !important;
margin-top:-2px;
}

/**************************/
/********** CHAT *********/
/**************************/

.modal{
	position:absolute;
	margin:0;
	top:0;
	left:0;
	background-color:transparent;
	z-index:100;
}