// Your application styles go here
@font-face {
    font-family: 'digital';
    src: url(../fonts/DigitalFirebomb.ttf);
}

/**************************/
/****** Utilitaires *******/
/**************************/

.greenGame{
	color:#A0D12C;
}

.blueGame{
	
}

.purpleGame{
	
}

/**************************/
/******** Balises *********/
/**************************/

h1{
	font-family: 'digital';
	font-size: 2em;
	text-align:center;
}


/**************************/
/******** ALERTES *********/
/**************************/

.messagesInfo{

	padding:5px;
	text-align: center;
	color:white;

	&.alert-succes{
		background-color:#5ACF44;
	}

	&.alert-error{
		background-color:#EF2B2B;
	}
}

/**************************/
/******** AUTH ************/
/**************************/


#loginContener{
	background-color: #203153;
}

.loginLabel{
	color:white;
	font-weight: bold;
	width:100%;
	display:block;
	margin-top:20px;
}

.loginLink{
	color:white;
	text-decoration: underline;
}

/**************************/
/********** MENU **********/
/**************************/

.listItemMenu{
	font-family:digital;
	font-size:12px;
	margin:0 auto;
	text-align:center;
	padding: 0;
	padding-top:15px;
	padding-bottom:15px;
	background-color:#4B4B4B;
	border: 1px solid #ffffff;
	color:white;
}

/**************************/
/********** MAP **********/
/**************************/

map {
  width: 100%;
  height: 100% !important;
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
  z-index:100;
}

.scroll, .mapWrap {
  height: 100%;
}

/**************************/
/********** CHAT *********/
/**************************/

.modal{
	position:absolute;
	margin:0;
	top:0;
	left:0;
	background-color:transparent;
	z-index:100;
}