<ion-view title="Carte" id="loginContener">
  <ion-content class="has-header" scroll="false">
    <div class="mapWrap"  data-tap-disabled="true">
      <map center="44.863702,-0.555980" 
            zoom="16"
            disable-default-u-i="true"
            disable-double-click-zoom="false"
            draggable="true"
            draggable-cursor="finger"
            dragging-cursor="move"
            keyboard-shortcuts="false"
            max-zoom="20"
            min-zoom="12"
            tilt="45"
            id="map-canvas">
        <marker ng-repeat="info in markers"
          position="{{info.posX}},{{info.posY}}" 
          icon="{{info.icone}}"
          on-click="{{info.click}}"
          animation="{{info.anim}}"
          draggable="false"
          id="{{info.id}}">
        </marker>
      </map> 
     
    </div>
     <button id="alertDuelButton" class="button button-dark icon ion-alert-circled" ng-click="showPopup()" ng-show="alertDuel.length"></button>
  </ion-content>
</ion-view>

<div class="tabs-striped tabs-background-dark tabs-color-assertive">
  <div class="tabs" >
    <a ng-repeat="itemFooter in itemsFooter" class="tab-item" ng-class="{'active' : data.activeButton == {{itemFooter.id}}}" ng-click="{{itemFooter.clickAction}}">
      <i class="icon {{itemFooter.icone}}"></i>
      {{itemFooter.titre}}
    </a>
  </div>
</div>