<ion-view title="Carte">
  <ion-content class="has-header padding">
    <h1>La carte du jeu</h1>
  </ion-content>
</ion-view>

<div class="tabs-striped tabs-background-dark tabs-color-assertive">
  <div class="tabs">
    <a class="tab-item active" ng-click="doSomething()">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item" ng-click="doSomething()">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" ng-click="doSomething()">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</div>