
<ion-side-menus>

	<!-- Menu central-->
  	<ion-pane ion-side-menu-content>
	  	<!-- 
	  		Bouton de back
	  	-->
	    <ion-nav-bar type="bar-clear" class="bar-dark" animation="nav-title-slide-ios7">
	    	<ion-nav-back-button class="button-clear"><i class="icon ion-reply"></i></ion-nav-back-button>
	    </ion-nav-bar>

	    <!-- 
	  		Bouton pour ouvrir le menu coulissant gauche
	  	-->
	    <ion-nav-buttons side="right">
	    	<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
		<ion-content class="has-header">
	    	<h1>Menu</h1>
		</ion-content>

		<!--
			Message d'alert de l'utilisateur
		-->
		<div class="alerts">
			<div ng-repeat="alert in alerts" class="alert animation alert-{{alert.type}}">
				<div class="row">

					<div class="col col-90">
						<h4>
							{{ alert.title}}
						</h4>
						{{ alert.msg }}
					</div>

					<div class="col col-10">
						<button type="button" class="close" ng-click="alert.close()" aria-hidden="true">
							×
						</button>
					</div>

					<!---->
				</div>
			</div>
		</div>
		<!-- 
	  		Permet de descendre d'un niveau d'arborescence
	  	-->
	    <ion-nav-view animation="slide-left-right"></ion-nav-view>
 	</ion-pane>

	<!-- Left Side Menu -->
	<ion-side-menu side="left" id="menu">

		<ion-content has-header="true">
			<ion-list>
				<ion-item ng-click="goToState(item.link)" class="item item-icon-left listItemMenu" ng-repeat="item in list" menu-close>
					<!-- <i ng-class="item.iconClass"></i> -->
					{{item.text}}
				</ion-item>
			</ion-list>

		</ion-content>
	</ion-side-menu>
</ion-side-menus>